/* Basic Styling */

  .body-bookdesc {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .container-bookdesc {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  /* Columns */
  .left-column-bookdesc {
    width: 65%;
    position: relative;
  }
  
  .right-column-bookdesc {
    width: 35%;
    margin-top: 60px;
  }
  
  
  /* Left Column */
  .left-column-bookdesc img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .left-column-bookdesc img.active {
    opacity: 1;
  }
  
  
  /* Right Column */
  
  /* Product Description */

  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  #more {display: none;}
  .product-description h2 {
    font-size: 40px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 20px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  /* Product Configuration */
  .product-color span,
  .cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Product Color */
  .product-color {
    margin-bottom: 50px;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    position:relative;
    margin: -1px 4px 0 0;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: black;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#frontview + label span {
    background-color: white;
  }
  .color-choose input[type="radio"]#backview + label span {
    background-color: white;
  }
  .color-choose input[type="radio"]#3dview + label span {
    background-color: #323232;
  }
  
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  

  
  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
  
  /* Responsive */
  @media (max-width: 940px) {
    .container-bookdesc {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .left-column-bookdesc,
    .right-column-bookdesc {
      width: 100%;
    }
  
    .left-column-bookdesc img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
  *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.brand-logo span {
    font-weight: bold;
    text-transform: uppercase;
    color: #073158;
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 30px; }

.btn-grey{
        background-color:#D8D8D8;
      color:#FFF;
    }
.rating-block{
      background-color:#FAFAFA;
      border:1px solid #EFEFEF;
      padding:15px 15px 20px 15px;
      border-radius:3px;
    }
.bold{
      font-weight:700;
    }
.padding-bottom-7{
      padding-bottom:7px;
    }
    
.review-block{
      background-color:#FAFAFA;
      border:1px solid #EFEFEF;
      padding:15px;
      margin-bottom:15px;
      margin-top:80px;
    }
.review-block-name{
      font-size:12px;
      margin:10px 0;
    }
.review-block-date{
      font-size:12px;
    }
.review-block-rate{
      font-size:13px;
      margin-bottom:15px;
    }
.review-block-title{
      font-size:15px;
      font-weight:700;
      margin-bottom:10px;
    }
.review-block-description{
      font-size:13px;
    }

  
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }
  