@charset "utf-8";
<style>

h1{
	font-family:Myriad Pro;
	font-size:36px;}
h2{
	font-size:18px;
	font-family:Oswald;}
h3{
	font-size:24px;
	font-family:Oswald;}
h4{font-size:14px;}
h5{font-size:16px;color:#FFF;}
h6{font-size:13px;}
h1,h2,h3,h5,h6{font-weight:normal;font-family:verdana;}
.float_l{float:left;}
.float_r{float:right;}

a{text-decoration:none;color:#FFF}
a:hover{text-decoration:underline;opacity:0.7;}

p{font-size:13px;}
li, ol{list-style:none;text-decoration:none;}



body{
	font-size:14px;
	color:#000;
	margin:0px;
	padding:0px;
	font-family:arial;margin:auto;
	}

#wrapper{
	width:100%;
	height:auto;
	margin:auto;

	}
	
/* ====== Header ====== */
header{
	width:100%;
	}	
	
.top{
	width:100%;
	height:35px;
	background-color:#2a2b2c;
	}
	hr{
		height:5px;
		background-color:#fcc508;
		border: none;
		margin-top: 0;
		}

	.social{
		width:135px;
		margin-left:159px;
		margin-top:-3px;
		}
	.social img:hover{opacity:.6;}	
	
	.login_register{
		width:110px;
		margin-left:600px;
		margin-top: -4px;
		line-height:30px;
		color:#FFF;
		}
	.login_register a:hover{
		color:#fcc508;
		text-decoration:none;
		}
		
	.shoppingcart{
		width:101px;
		height:54px;
		margin-top:-20px;
		margin-left:10px;
		border-radius: 10px;
  		background-color: rgb( 252, 197, 8 );
		position:absolute;
		margin-left:1012px;
		}

	.shoppingcart img{
		margin-top:10px;
		margin-left:10px;
		}
	.shoppingcart a{
		color:#cc3333;
		}
	.shoppingcart a:hover{
		text-decoration:underline;
		}


/* ====== Nav ====== */	
nav{
	width:992px;
	margin-left:120px;
	}
	
	.logo img{
		margin-left:8px;
		margin-top:10px;
		}	

	.menu{
		margin-left:346px;
		margin-top:35px;
		position:absolute;
		}

	nav ul li{
		list-style:none;
		float:left;
		margin-left:36px;
			}	
	
	nav ul li a{
		display:block;
		color:#000;
		font-family:arial;
		font-size:14px;
		font-weight:bold;
		}
	nav ul li a:hover{
		color:#fcc508;
		text-decoration:none;
		}	
	
	
	
	
	
	
	
	
	
/* ======footer ====== */	
footer{
	width:100%;
	background:url(../images/footer_bg.png);
	margin-top:68px;
	}		
	footer .upperline{
		background:#000;
		}	
	footer .upperline_black{
		width:100%;
		height:2px;
		background:#000;
		}
	.footer_fix{
		width:960px;
		height:250px;
		margin-left:148px;
		}
		
		
	.cols1{
		width:250px;
		height:250px;
		color:#fff;
		}	
	.cols1 p{
		width:80%;
		margin-left:0px;
		}
		
	.cols1 .socialize{
		width:24px;
		height:23px;
		border-radius:50%;
		background-color:#242424;
		text-align:center;
		line-height:27px;
		}
	.cols1 .socialize:hover{
		opacity:0.3;
		}
	.cols1 .dotline{
		margin-bottom:10px;
		margin-top:5px;
		}
	
		
		
	
	.cols2{
		width:240px;
		height:250px;
		}
	
	.postimg{
		width:100px;
		height:180px;
		}
	.postimg img{
		border:5px solid #28292a;
		margin-bottom:12px;
		}

	.comment{
		width:110px;
		height:90px;
		}
	.comment h6{
		margin-top:10px;
		}
	.comment img{
		position:absolute;
		margin-top:-20px;
		margin-left:7px;
		}	


	.cols3{
		width:216px;
		height:250px;
		}	
	.searchbox{
		width:214px;
		height:36px;
		background-color:transparent;
		border:1px solid #666;
		font-style:italic;
		padding-left:10px;
		color:#FFF;
		}	
	ol{
		float:left;
		margin:0px;
		padding:6px;
		}
	ol a{
		padding:4px;
		background-color:#2a2a2a;
		}
	ol a:hover{
		background-color:#fff;
		color:#333;
		text-decoration:none;
		}
		
	.copyright{
		width:100%;
		height:35px;
		background:#1b1b1b;
		line-height:34px;
		}
	.footer_left{
		width:300px;
		margin-left:148px;
		}
	.footer_left li a{
		margin:0px 5px;
		font-size:12px;
		color:#999;
		}	
	.footer_right{
		width:350px;
		margin-left:350px;
		font-size:12px;
		color:#999;
		}	
		
</style>/* CSS Document */

